html,body{
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-position: center center ;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	overflow-x: hidden;
	line-height: 1.5;
	font-family: 'Magra';
}

img {
  vertical-align: middle;
}

.v-header{
	height: 100vh;
	display: flex;
	align-items: center;
	color: #fff;
}

.container{
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: auto;
	text-align: center;
}

.fullscreen-video-wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

.fullscreen-video-wrap video{
	min-width: 100%;
	min-height: 100%;
}

.header-overlay{
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: green;
	z-index: 1;
	opacity: 0.85;
}

.header-content{
	z-index: 2;
	font-size: 20px;
	margin-top: 45%;
}

#anuncio {
    margin-left: 84%;
    height: 500px;
    width: 336px;
    border: 0.5;
    position: absolute;
}


.footer {
    float: left;
    margin-top: 100px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}

.publicidadhor {
    position: relative;
    float: right;
    width: 300px;
    top: 75px;
    right: 25px;
}

.twitter {
	position: relative;
    float: right;
    width: 300px;
    top: 356px;
    right: -277px;
}

.Titulos{
	color: whitesmoke;
}

.ribbon{
	background-color: orangered;
	color: white;
	width: 43%;
	font-size: 20px;
}

#Cargar{
	margin-left: 45%;
    margin-top: 5%;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #0040FF;
  width: 0%;
}

*,*:after, *:before{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#contenedor_carga{
	background-color: rgba(250,240,245,0.9);
	height: 100%;
	width: 100%;
	position: fixed;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 10000;
}

#carga{
	border: 16px solid #ccc;
	border-top-color: #F4266A;
	border-top-style: groove;
	height: 100px;
	width: 100px;
	border-radius: 100%;

	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;

	-webkit-animation: girar 1.5s linear infinite;
	-o-animation: girar 1.5s linear infinite;
	animation: girar 1.5s linear infinite;
}

@keyframes girar{
	from { transform: rotate(0deg);}
	to { transform: rotate(360deg);}
}