html,body{
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-position: center center ;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	overflow-x: hidden;
	line-height: 1.5;
    font-family: 'Magra';
    color: whitesmoke;
}